<?xml version="1.0" encoding="UTF-8"?>
<!--
     Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at
     
     http://www.apache.org/licenses/LICENSE-2.0
     
     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License.
 -->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	   id="cordova-plugin-service-worker-background-sync"
      version="1.0.1">
    <name>BackgroundSync</name>
    <description>BackgroundSync Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,backgroundsync,service,worker</keywords>

    <dependency id="cordova-plugin-service-worker" />
    <dependency id="cordova-plugin-network-information" />

    <js-module src="www/SyncManager.js" name="SyncManager">
	<clobbers target="SyncManager" />
    </js-module>
    <js-module src="www/PeriodicSyncManager.js" name="PeriodicSyncManager">
	<clobbers target="PeriodicSyncManager" />
    </js-module>
    <js-module src="www/SyncRegistration.js" name="SyncRegistration">
	<clobbers target="SyncRegistration" />
    </js-module>
    <js-module src="www/PeriodicSyncRegistration.js" name="PeriodicSyncRegistration">
	<clobbers target="PeriodicSyncRegistration" />
    </js-module>

    <!-- Assets for use by service worker -->
    <asset src="www/sw_assets/syncevents.js" target="sw_assets/syncevents.js" />
    <asset src="www/SyncManager.js" target="sw_assets/SyncManager.js" />
    <asset src="www/PeriodicSyncManager.js" target="sw_assets/PeriodicSyncManager.js" />
    <asset src="www/SyncRegistration.js" target="sw_assets/SyncRegistration.js" />
    <asset src="www/PeriodicSyncRegistration.js" target="sw_assets/PeriodicSyncRegistration.js" />

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="BackgroundSync">
		<param name="ios-package" value="CDVBackgroundSync" />
	    </feature>
	</config-file>
	<config-file target="*-Info.plist" parent="UIBackgroundModes">
	    <array>
		<string>fetch</string>
	    </array>
	</config-file>
	<source-file src="src/ios/CDVBackgroundSync.m" />
	<framework src="SystemConfiguration.framework" />
    </platform>

</plugin>
